html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Urbanist", sans-serif;
}
:root {
  /*Custom Color Properties*/
  --blue: #192c6f;
  --yellow: #faf6d3;
  --dark-yellow: #b1b27a;
  --gray: #aa9898;
  --black: #fffff;
  --white: #ffff;

  --lightmode: var(--yellow);
  --lightmode-shader: var(--gray);
  --lightmode-fontcolor: var(--black);

  --darkmode: var(--blue);
  --darkmode-shader: var(--gray);
  --darkmode-fontcolor: var(--white);

  --link-underline-padding: 0.5em;

  /*Typography*/
  --h1: 10rem;
  --h2: 8rem;
  --h3: 3rem;
  --h4: 2rem;
  --h5: 1rem;
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--lightmode);
}

li {
  float: left;
  font-size: var(--h3);
  display: block;
  text-align: center;
  padding: 0.5rem 9.5rem;
  color: var(--black);
  background: linear-gradient(currentColor 0 0) bottom left/
    var(--underline-width, 0%) 0.5rem no-repeat;
  color: #000000;
  display: inline-block;
  padding: 0 6.45rem 0.2rem;
  text-decoration: none;
  transition: background-size 0.5s;
}
li:hover {
  --underline-width: 100%;
}
button {
  all: unset;
  cursor: pointer;
}
.header {
  background-color: var(--lightmode);
  height: 8.5rem;
  position: fixed;
  flex-direction: row;
  z-index:10;
}
.Paris {
  float: left;
  margin-left: 1.25rem;
  margin-right: 18.8rem;
  font-size: var(--h2);
}

.header-list {
  float: right;
  margin-top: 30px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.container {
  background-image: url("https://images.unsplash.com/photo-1499856871958-5b9627545d1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1420&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100rem;
}
.Paris-top {
  font-size: var(--h1);
}
.Paris-bottom{
  font-size: var(--h2);
}
.center {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--h1);
  color: var(--yellow);
  text-shadow: 5px 5px var(--gray);
  text-align: center;
}


.display {
  width: 90vw;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.display-card {
  width: 30%;
  height: 55rem;
  margin: 1rem auto;
  background-color: var(--primary-background-color);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 
}
